.container {
    width: 400px;
    /* margin: 0 auto; */
    padding: 10px;
}

.story-imgx {
    width: 350px;
    height: 200px;
    position: relative;
    /* display: block; */
    left: 50%;
    transform: translateX(-50%);
}

.story-footer {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* width: 100%; */
}

.tag {
    margin: 5px 5px 5px 0;
}

.rs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
}

.rsx-img {
    width: 350px;
    height: 200px;
    margin-right: 0;
}


/* .story-img {
    width: 300px;
    height: 300px;
   
}

.story-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.rs {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 380px;
}

.rs-img {
    width: 380px;
    height: 150px;
    margin-right: 15px;
} */
